import org.springframework.stereotype.Repository;
import org.springframework.data.jpa.repository.JpaRepository;

import model.{{entity.name}};

@Repository
public interface {{entity.name}}Repository extends JpaRepository<{{entity.name}}, Long> {
}